<h1>Recipes</h1>

<%= form_tag("/recipes", method: 'get') do %>
  <%= label_tag(:q, "Search for: ") %>
  <%= text_field_tag(:q) %>
  <%= submit_tag("Search") %>
<% end %>

<div>
<ul>
  <% @recipes.each do |recipe| %>
    <li><%= link_to recipe.title, recipe_path(recipe) %></li>
  <% end %>
</ul> 
</div> 
