<div>
<% if flash[:alert] %>
    <div><%= flash[:alert] %></div>
  <% end %>
  <div>
  <%= form_with(url: search_path, method: 'get', local: true) do %>
    <%= label_tag :recipe, 'Search for a recipe: ' %>
    <%= text_field_tag :recipe, nil, placeholder: 'Eg. Chicken' %>
    <%= button_tag 'Search' %>
  <% end %>
  </div>
</div>