
<h1><%= @recipe.title %></h1>
<h2><%= @recipe.description %></h2>
<br>

<p><%= link_to "Add a comment", new_recipe_comment_path(@recipe) %></p>

<h4>Comments: </h4>
<% @recipe.comments.each do |comment| %>
    <li><strong><%= comment.user.user_name %></strong> says "<%= link_to comment.content, comment_path(comment) %>"</li>
<% end %>

