
<h1><%= @recipe.title %></h1>
<h4><%= @recipe.description %></h4>
<br><br>

<%= button_to "Add a comment", new_recipe_comment_path(@recipe) %>
<br><br>
<h4><strong>Comments: </strong></h4>
<% @recipe.comments.each do |comment| %>
    <ul>
        <li><strong><%= comment.user.user_name %></strong> says "<%= comment.content %>"</li>
    </ul>
<% end %>

