<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Recipes</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <%= render 'layouts/navigation' %>
    </header>

  <div class="jumbotron">
        <br><br><br>
        <%= image_tag 'MyRecipesLogolow-res.png', class: 'logo' %>
        <br>
  </div>

    <div>
      <% if flash[:message] %>
        <%= flash[:message] %>
      <% end %>
      <%= @error %>
    </div>

    <main role="main">
    <%= content_for?(:content) ? yield(:content) : yield %>
    </main>
  </body>
</html>
